<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>姓名案例_computed实现</title>
    <script type="text/javascript" src="../100vueJs/vue.js"></script>
</head>
<body>
<!--
    计算属性：
        1.定义：要用的属性不存在，要通过已有属性计算得来
        2.原理: 底层借助了Object.defineproperty方法提供getter和setter
        3.get函数什么时候执行？
            (1).初次读取时会执行一次
            (2).当依赖的数据发生改变时会被再次调用
        4.优势：与methods实现相比，内容有缓存机制(复用)。效率更高，调式方便。
        5.备注：
            1、计算属性最终会出现在vm上，直接读取使用即可
            2、如果计算属性要被修改，那必须写set函数去响应修改，而且set中要引起计算时依赖的数据发生
-->
<!-- 准备好一个容器 -->
<div id="root">
    姓: <input type="text" v-model="firstName">
    名: <input type="text" v-model="lastName">
    全名：<span>{{ allName }}</span>
</div>
</body>
<script type="text/javascript">
    let sum = 1
    Vue.config.productionTip = false
    new Vue({
        el: '#root',
        data: {
            firstName: '鸣启',
            lastName: '赵越',
        },
        // 使用计算返回
        computed: {
            allName() {
                return this.firstName + this.lastName
            }
        },
    })
</script>
</html>
